body, html{
    background-color: #d6d6d6;
    margin: 0px;
    padding: 0;
    height: 100%;
}

.container{
    width: 100%;
    background-color: rgb(226, 241, 255);
    height: 100%;
    display: grid; 
    grid-template-columns:80% 20%; 
    grid-template-rows:70px auto 100px; 
    grid-template-areas:'header header'
                        'main sidebar'
                        'footer footer'; 
}
header{
    background-color: #a4a4cc;
    grid-area: header;
}
main{
    background-color: #00ab00;
    grid-area: main;
}
aside{
    background-color: #acdd;
    grid-area: sidebar;
}
footer{
    background-color: #004222;
    grid-area: footer;
}
